.badges {
  width: 200px;
  height:auto;
  padding-top: 20px;
}
#background2 {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 500px;
    height: auto;
    /*z-index: -1;*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}



button {
  background-color: red;
  color:blue;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
  font-family: Gotham Book;
}
button:hover {
  color:#7FD0EC;
  background-color: white !important;
 }

i {
  float: right;
  color: white;
  padding-right: 20px;
  padding-top: 7px;
}


h1 {
  color: #7FD0EC;
}

#spinner {
  height: 500px;
  background-color: white;
}

#myCarousel {
  margin-top: 60px;
}

a {
  opacity: 0;
  float: right;
}

h4 {
  float: right;
  padding-right: 10px;
  padding-top: 7px;
  color: white;
}

.jumbotron {
  margin:0;
  padding:0;
}

.fa-chevron-left  {
  padding-top: 175px;
  color: white;
}

.fa-chevron-right  {
  padding-top: 175px;
  color: white;
}

.carousel-control {
  background-color: white;
}

#myCarousel {
  background-color: white;
  font-family: Gotham Book;
}

.carousel-caption {
  /*transform: translate(200%, -70%);*/
  color: #7FD0EC;
  padding-left: 250px;
  padding-bottom: 140px;
}

.navbar {
  margin: 0px;
  padding: 0px;
  font-family: Gotham Book;
}



#mainbanner {
  height: 500px;
  position: relative;
   overflow: hidden;
   font-family: Gotham Book;
}

#motto {
  height: 500px;
  background-image: #7FD0EC; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(180deg,#79E2E1, #7FD0EC); /* For Safari 5.1 to 6.0 */
  background-image: : -o-linear-gradient(180deg, #79E2E1, #7FD0EC); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(180deg, #79E2E1, #7FD0EC); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(180deg, #79E2E1, #7FD0EC); /* Standard syntax */
  color: white;
  text-align: center;
  font-family: Gotham Book;
}

.centermotto {
  margin-top: 225px;
}



/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid white;
	color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #7FD0EC;
	border-color: #7FD0EC;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.headertitle {
  padding-top: 100px;
  color: white;
}

#prioritization {
  height: 500px;
  font-family: Gotham Book;
}

#quotess {
  height: 500px;
  background-image: #7FD0EC; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(180deg,#79E2E1, #7FD0EC); /* For Safari 5.1 to 6.0 */
  background-image: : -o-linear-gradient(180deg, #79E2E1, #7FD0EC); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(180deg, #79E2E1, #7FD0EC); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(180deg, #79E2E1, #7FD0EC); /* Standard syntax */
  color: white;
  text-align: center;
  font-family: Gotham Book;
}

#finalaction {
  height: 250px;
  background-color: white;
  text-align: center;
  color:  #7FD0EC;
  font-family: Gotham Book;
}

#bottomfooter {
  margin: 70px;
}

#footerlast {
  height: 80px;
  background-image: #7FD0EC; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(180deg,#79E2E1, #7FD0EC); /* For Safari 5.1 to 6.0 */
  background-image: : -o-linear-gradient(180deg, #79E2E1, #7FD0EC); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(180deg, #79E2E1, #7FD0EC); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(180deg, #79E2E1, #7FD0EC); /* Standard syntax */
  font-family: Gotham Book;
}

.img-circle {
  padding: 0;
  margin: 0;
}


.quote2 {
  margin: 25px;
}
